{% extends 'base.html.twig' %}

{% block body %}
    <h1>Airports list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for airport in airports %}
            <tr>
                <td><a href="{{ path('airport_show', { 'id': airport.id }) }}">{{ airport.id }}</a></td>
                <td>{{ airport.name }}</td>
                <td>{{ airport.location }}</td>
                <td>{{ airport.country }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('airport_show', { 'id': airport.id }) }}">show</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path('airport_edit', { 'id': airport.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a href="{{ path('airport_new') }}">Create a new airport</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
