{% extends 'base.html.twig' %}

{% block body %}
    <h1>Airlines list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for airline in airlines %}
            <tr>
                <td><a href="{{ path('airlines_show', { 'id': airline.id }) }}">{{ airline.id }}</a></td>
                <td>{{ airline.name }}</td>
                <td><a href="{{ path('country_show', {'id' : airline.country.id}) }}"> {{ airline.country }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('airlines_show', { 'id': airline.id }) }}">show</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path('airlines_edit', { 'id': airline.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a href="{{ path('airlines_new') }}">Create a new airline</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
