{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flights list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Flightnumber</th>
                <th>Flightcode</th>
                <th>Departuretime</th>
                <th>From</th>
                <th>Arrivaltime</th>
                <th>Destination</th>
                <th>Airline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td><a href="{{ path('flight_show', { 'id': flight.id }) }}">{{ flight.id }}</a></td>
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.flightCode }}</td>
                <td>{% if flight.departureTime %}{{ flight.departureTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if flight.departureAirport%}{{ flight.departureAirport}}{% endif %}</td>
                <td>{% if flight.arrivalTime %}{{ flight.arrivalTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if flight.arrivalAirport%}{{ flight.arrivalAirport}}{% endif %}</td>
                <td>{{ flight.airline }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('flight_show', { 'id': flight.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('flight_edit', { 'id': flight.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flight_new') }}">Create a new flight</a>
        </li>
    </ul>
{% endblock %}
